%icon {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

%image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}